<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="sampletest.java">
  <test thread-count="5" name="onlinesbi">
    <classes>
      <class name="TestNG.onlinesbi"/>
      <class name="TestNG.Sampletest"/>
    </classes>
  </test> <!-- onlinesbi -->
</suite> <!-- sampletest.java -->
